<mat-card class="card">
	<div class="container">
		<video
			#videoEl
			class="video"
			[src]="src"
			controls
		>
		</video>
		<div class="bottom">
			<div class="buttons">
				<div class="top-row">
					<input
						type="file"
						class="file-input"
						[class.no-file]="!src"
						(change)="fileSelect($event)"
					>
					<mat-form-field appearance="outline" class="fps-input">
						<mat-label>FPS</mat-label>
						<input matInput [ngModel]="fps()" (ngModelChange)="fps.set($event)" type="number">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Video Time (seconds)</mat-label>
						<input matInput [ngModel]="currentSeconds()" (ngModelChange)="currentSeconds.set($event)" type="number">
					</mat-form-field>
					<button mat-flat-button color="accent" (click)="jumpTo(currentSeconds())">Jump to Time</button>
					<button mat-flat-button
					        color="accent"
					        (click)="addSplit()"
					>Add Split
					</button>
					<div class="flex-auto"></div>
					<mat-slide-toggle
						color="primary"
						[(ngModel)]="sync"
						(ngModelChange)="syncChange.emit($event)"
					>
						Sync
					</mat-slide-toggle>

				</div>
				<div class="button-row">
					<button mat-flat-button color="accent" (click)="skipFrames(-10)">-10F</button>
					<button mat-flat-button color="accent" (click)="skipFrames(-5)">-5F</button>
					<button mat-flat-button color="accent" (click)="skipFrames(-1)">-1F</button>
					<button mat-flat-button color="accent" (click)="skipFrames(1)">+1F</button>
					<button mat-flat-button color="accent" (click)="skipFrames(5)">+5F</button>
					<button mat-flat-button color="accent" (click)="skipFrames(10)">+10F</button>
				</div>
				<div class="button-row">
					<button mat-flat-button color="accent" (click)="skipSeconds(-7)">-7s</button>
					<button mat-flat-button color="accent" (click)="skipSeconds(-4)">-4s</button>
					<button mat-flat-button color="accent" (click)="skipSeconds(-1)">-1s</button>
					<button mat-flat-button color="accent" (click)="skipSeconds(1)">+1s</button>
					<button mat-flat-button color="accent" (click)="skipSeconds(4)">+4s</button>
					<button mat-flat-button color="accent" (click)="skipSeconds(7)">+7s</button>
				</div>
			</div>
			<mat-divider></mat-divider>
			<div
				cdkDropList
				(cdkDropListDropped)="moveSplits($event)"
				class="splits"
			>
				<div class="splits-title">
					<h2>Splits</h2>
					<div class="time-display large-text">
						{{splits | splitsTime | timeDisplay}}
					</div>
					<app-diff
						[diff]="(splits | splitsTime) - (otherSplits | splitsTime)"
					></app-diff>
					<div class="flex-auto"></div>
					<button mat-flat-button color="accent" (click)="exportSplits()">Copy to Clipboard</button>
					<button mat-flat-button color="accent" (click)="importSplits()">Import From Clipboard</button>
				</div>
				<div
					*ngFor="let split of splits; index as i"
					class="split"
					[class.current]="i === currentSplit || i === noSyncCurrentSplit()"
					cdkDrag
				>
					<div class="drag-handle-space" cdkDragHandle>
						<div class="drag-handle">
							<mat-icon>drag_handle</mat-icon>
						</div>
					</div>
					<button mat-icon-button (click)="removeSplit(i)">
						<mat-icon>delete</mat-icon>
					</button>
					<mat-form-field appearance="outline">
						<mat-label>Video Time (seconds)</mat-label>
						<input matInput [(ngModel)]="split.timestamp" type="number" (ngModelChange)="splitsChanged()">
					</mat-form-field>
					<button
						*ngIf="i >= 1"
						mat-flat-button
						color="accent"
						(click)="jumpTo(splits[i - 1].timestamp)"
					>
						Jump to start
					</button>
					<ng-container *ngIf="splits | splitTime:i as splitTime">
						<div class="large-text split-time">
							{{splitTime | timeDisplay}}
						</div>
						<div *ngIf="otherSplits.length === splits.length">
							<app-diff
								[diff]="splitTime - (otherSplits | splitTime:i)"
							></app-diff>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</mat-card>
